/* Todo list pavana heading */
#heading {
  color: rgb(255, 0, 0);
  background-color: white;
  /* text-align: center; */
  font-weight: normal;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 5px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h4 {
  /* text-align: center; */
  margin-left: 32%;
}
#NewTodo h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

body {
  background-color: white;
  position: relative;
  /* align-items: center; */
  padding: 5%;
  margin-left: 22%;
}
label {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

input {
  padding: 15px 10px;
  width: 50%;

  color: #45a049;
  font-size: 1em;
  flex-grow: 1;
}
#count {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#submit-btn {
  background-color: #45a049;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: inline;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
}

.inputClass {
  align-items: center;
}
.NewTodo button:hover {
  background: #82aaff;
}
.container {
  justify-items: center;
}
